body {
  margin: 0;
  padding: 0;
  background: #FFF;
  font-family: "Wendy One";
  background-image: url("../images/background_tile.jpg");
  background-repeat:repeat;
  color: black;
}

h1 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: lightgrey;
}

.bday_image_container, .bday_image_header {
  overflow: hidden;
  margin: auto;
  width:90%;
  border-radius: 30px;
  background: white;
}

.bday_image_header {
  background: lightgrey;
  margin-bottom: 10px;
}

.bday_image_header h3{
    float: left;
    margin-left: 20px;
}

.bday_image_header h4{
    float: right;
    margin-right: 20px;
}

.bday_image_tile {
  float: left;
  position: relative;
  width: 33.3%;
  padding-bottom: 33.3%;
  background: white;
}

.bday_image {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.bday_image img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .bday_image_tile {
      width: 100%;
      padding-bottom: 100%;
   }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .bday_image_tile {
      width: 50%;
      padding-bottom: 50%;
   }
}

#music_div {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 20px;
 }

