body {
  margin: 0;
  padding: 0;
  background: #FFF;
  font-family: "Wendy One";
  background-image: url("../images/background_tile.jpg");
  background-repeat:repeat;
  color: black;
}

h1 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: lightgrey;
}

.container, .header {
  overflow: hidden;
  margin: auto;
  width:90%;
  border-radius: 30px;
  background: white;
  margin-bottom: 50px;
}

.container iframe {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.header {
  background: grey;
  margin-bottom: 10px;
}

.header h3{
    float: left;
    margin-left: 20px;
}

.header h4{
    float: right;
    margin-right: 20px;
}

.tile {
  float: left;
  position: relative;
  width: 33.3%;
  padding-bottom: 33.3%;
  background: white;
}

.content {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
  text-align: center;
}

.content img, p, span {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.content p {
  background: lightgrey;
  color: white;
}

.content span {
  position: absolute;
  z-index: 2;
  top: 5px;
}

@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .tile {
      width: 100%;
      padding-bottom: 100%;
   }
}

@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .tile {
      width: 50%;
      padding-bottom: 50%;
   }
}

#music_div {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 20px;
 }

